SEO
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "5e0b317a-14b1-4010-bba7-134fc0f4b0e1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        400,
        140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "485232581",
          "mode": "list",
          "cachedResultName": "Tummy Time",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p485232581/"
        },
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "screenPageViews"
            },
            {},
            {
              "listName": "sessions"
            },
            {
              "listName": "sessionsPerUser"
            },
            {
              "listName": "other",
              "name": "averageSessionDuration"
            },
            {
              "listName": "other",
              "name": "ecommercePurchases"
            },
            {
              "listName": "other",
              "name": "averagePurchaseRevenue"
            },
            {
              "listName": "other",
              "name": "purchaseRevenue"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "id": "3574c793-da9a-45a5-a6d3-86ed182fa86c",
      "name": "Google Analytics Letzte 7 Tage",
      "type": "n8n-nodes-base.googleAnalytics",
      "position": [
        600,
        140
      ],
      "typeVersion": 2,
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "rjRPey3d6yeKnD8W",
          "name": "Google Analytics account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1219249493",
        "text": "={{ $json.output }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "id": "2334d7d0-48e9-4573-827f-d5b9490dd263",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2560,
        260
      ],
      "typeVersion": 1.2,
      "webhookId": "6bf79bed-4462-4f1e-ac15-9b6fe2338505",
      "credentials": {
        "telegramApi": {
          "id": "mD0xDy1YVy0ieZeP",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "1f849563-4809-4eb7-bab8-6d12ad1c1279",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2500,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "value": "485232581",
          "mode": "list",
          "cachedResultName": "Tummy Time",
          "cachedResultUrl": "https://analytics.google.com/analytics/web/#/p485232581/"
        },
        "dateRange": "lastCalendarMonth",
        "metricsGA4": {
          "metricValues": [
            {
              "listName": "screenPageViews"
            },
            {},
            {
              "listName": "sessions"
            },
            {
              "listName": "sessionsPerUser"
            },
            {
              "listName": "other",
              "name": "averageSessionDuration"
            },
            {
              "listName": "other",
              "name": "ecommercePurchases"
            },
            {
              "listName": "other",
              "name": "averagePurchaseRevenue"
            },
            {
              "listName": "other",
              "name": "purchaseRevenue"
            }
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "returnAll": true,
        "additionalFields": {}
      },
      "id": "9aa12a0d-a7b0-45b4-a23a-b8ca9ccc0f26",
      "name": "Google Analytics: Past 7 days of the previous year",
      "type": "n8n-nodes-base.googleAnalytics",
      "position": [
        1540,
        140
      ],
      "typeVersion": 2,
      "credentials": {
        "googleAnalyticsOAuth2": {
          "id": "rjRPey3d6yeKnD8W",
          "name": "Google Analytics account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Aufrufe"
            },
            {
              "aggregation": "sum",
              "field": "Nutzer"
            },
            {
              "aggregation": "sum",
              "field": "Sitzungen"
            },
            {
              "aggregation": "average",
              "field": "Sitzungen pro Nutzer"
            },
            {
              "aggregation": "average",
              "field": "Sitzungsdauer"
            },
            {
              "aggregation": "sum",
              "field": "Käufe"
            },
            {
              "aggregation": "average",
              "field": "Revenue pro Kauf"
            },
            {
              "aggregation": "sum",
              "field": "Revenue"
            },
            {
              "field": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "e6295361-ce9b-4433-ad45-5a57de6457f1",
      "name": "Summarize Data",
      "type": "n8n-nodes-base.summarize",
      "position": [
        1060,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Aufrufe"
            },
            {
              "aggregation": "sum",
              "field": "Nutzer"
            },
            {
              "aggregation": "sum",
              "field": "Sitzungen"
            },
            {
              "aggregation": "average",
              "field": "Sitzungen pro Nutzer"
            },
            {
              "aggregation": "average",
              "field": "Sitzungsdauer"
            },
            {
              "aggregation": "sum",
              "field": "Käufe"
            },
            {
              "aggregation": "average",
              "field": "Revenue pro Kauf"
            },
            {
              "aggregation": "sum",
              "field": "Revenue"
            },
            {
              "field": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "d89ec876-d208-4303-be36-9650aea7be43",
      "name": "Summarize Data1",
      "type": "n8n-nodes-base.summarize",
      "position": [
        1920,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return {\n // Berechnung des Startdatums: Vorjahr, gleiche Woche, 7 Tage zurück\n startDate: (() => {\n const date = new Date();\n date.setFullYear(date.getFullYear() - 1); // Zurück ins Vorjahr\n date.setDate(date.getDate() - 7); // 7 Tage zurück\n return date.toISOString().split('T')[0];\n })(),\n \n // Berechnung des Enddatums: Vorjahr, heutiges Datum\n endDate: (() => {\n const date = new Date();\n date.setFullYear(date.getFullYear() - 1); // Zurück ins Vorjahr\n return date.toISOString().split('T')[0];\n })(),\n};\n"
      },
      "id": "a9b00682-21ce-4a17-87c7-9300269582a1",
      "name": "Calculation same period previous year",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        140
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c2f8b9a-e964-49a0-8837-efb0dfd7bcae",
              "name": "Aufrufe",
              "type": "number",
              "value": "={{ $json.screenPageViews }}"
            },
            {
              "id": "8b524518-1268-4971-b5c9-ae7da09d94f9",
              "name": "Nutzer",
              "type": "number",
              "value": "={{ $json.totalUsers }}"
            },
            {
              "id": "ca7279b9-c643-425f-aa99-cb17146e9994",
              "name": "Sitzungen",
              "type": "number",
              "value": "={{ $json.sessions }}"
            },
            {
              "id": "591288f7-e8cf-445e-872a-5b83f997b825",
              "name": "Sitzungen pro Nutzer",
              "type": "number",
              "value": "={{ $json.sessionsPerUser }}"
            },
            {
              "id": "dc1a43da-3f3a-4dca-bbde-904222d7f693",
              "name": "Sitzungsdauer",
              "type": "number",
              "value": "={{ $json.averageSessionDuration }}"
            },
            {
              "id": "eac0b53e-c452-40b8-92bc-8af8ea349984",
              "name": "=Käufe",
              "type": "number",
              "value": "={{ $json.ecommercePurchases }}"
            },
            {
              "id": "b96439be-189d-4ebe-b49e-d5c31fefe9f0",
              "name": "Revenue pro Kauf",
              "type": "number",
              "value": "={{ $json.averagePurchaseRevenue }}"
            },
            {
              "id": "94835d43-2fc8-49c0-97f0-6f0f8699337a",
              "name": "Revenue",
              "type": "number",
              "value": "={{ $json.purchaseRevenue }}"
            },
            {
              "id": "d70f8138-3b84-4b88-a98f-eb929e1cc29a",
              "name": "date",
              "type": "string",
              "value": "={{ $json.date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c7c2dbfe-cceb-422a-a589-15ab0921ebfd",
      "name": "Assign data",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c2f8b9a-e964-49a0-8837-efb0dfd7bcae",
              "name": "Aufrufe",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.sum_Aufrufe }}"
            },
            {
              "id": "8b524518-1268-4971-b5c9-ae7da09d94f9",
              "name": "Nutzer",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.sum_Nutzer }}"
            },
            {
              "id": "ca7279b9-c643-425f-aa99-cb17146e9994",
              "name": "Sitzungen",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.sum_Sitzungen }}"
            },
            {
              "id": "591288f7-e8cf-445e-872a-5b83f997b825",
              "name": "Sitzungen pro Nutzer",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.average_Sitzungen_pro_Nutzer }}"
            },
            {
              "id": "dc1a43da-3f3a-4dca-bbde-904222d7f693",
              "name": "Sitzungsdauer",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.average_Sitzungsdauer }}"
            },
            {
              "id": "eac0b53e-c452-40b8-92bc-8af8ea349984",
              "name": "=Käufe",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json['sum_Käufe'] }}"
            },
            {
              "id": "b96439be-189d-4ebe-b49e-d5c31fefe9f0",
              "name": "Revenue pro Kauf",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.average_Revenue_pro_Kauf }}"
            },
            {
              "id": "94835d43-2fc8-49c0-97f0-6f0f8699337a",
              "name": "Revenue",
              "type": "number",
              "value": "={{ $('Summarize Data').item.json.sum_Revenue }}"
            },
            {
              "id": "dd8255c6-65b1-41ce-b596-70c09108d6e2",
              "name": "=date",
              "type": "string",
              "value": "={{ $('Summarize Data').item.json.count_date }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b043484d-85b7-4879-bba6-0daec920f952",
      "name": "Assign data1",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        140
      ],
      "typeVersion": 3.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Welcome to my Google Analytics Weekly Report Workflow!\n\nThis workflow has the following sequence:\n\n1. time trigger (e.g. every Monday at 7 a.m.)\n2. retrieval of Google Analytics data from the last 7 days\n3. assignment and summary of the data\n4. retrieval of Google Analytics data from the last 7 days of the previous year\n5. allocation and summary of the data\n6. preparation in tabular form and brief analysis by AI.\n7. sending the report as an email\n8. preparation in short form by AI for Telegram (optional)\n9. sending as Telegram message.\n\nThe following accesses are required for the workflow:\n- Google Analytics (via Google Analytics API): https://docs.n8n.io/integrations/builtin/credentials/google/\n- AI API access (e.g. via OpenAI, Anthropic, Google or Ollama)\n- SMTP access data (for sending the mail)\n- Telegram access data (optional for sending as Telegram message): https://docs.n8n.io/integrations/builtin/credentials/telegram/\n\nYou can contact me via LinkedIn, if you have any questions: https://www.linkedin.com/in/friedemann-schuetz",
        "height": 560,
        "width": 440
      },
      "id": "153a9dc3-ae3b-401e-9af2-e35c2e0b8a5c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "harshsharmaqa@gmail.com",
        "subject": "SEO",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2840,
        -440
      ],
      "id": "a657d23b-51fd-4ec3-8fa6-8196dfb67eeb",
      "name": "Gmail",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "HSloug3liEXNl0ks",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the following data and output the results in tabular form:\n\n| Metrics | Last 7 days | Previous year | Percentage change |\n|-------------------------------|---------------|---------|\n| Total page views | {{ $('Summarize Data').item.json.sum_Aufrufe }} | {{ $('Summarize Data1').item.json.sum_Aufrufe }} | Percentage change |\n| total users | {{ $('Summarize Data').item.json.sum_Nutzer }} | {{ $('Summarize Data1').item.json.sum_Nutzer }} | Percentage change |\n| Total sessions | {{ $('Summarize Data').item.json.sum_Sitzungen }} | {{ $('Summarize Data1').item.json.sum_Sitzungen }} | Percentage change |\n| Average sessions/user | {{ $('Summarize Data').item.json.average_Sitzungen_pro_Nutzer }} | {{ $('Summarize Data1').item.json.average_Sitzungen_pro_Nutzer }} | Percentage change |\n| Average session duration | {{ $('Summarize Data').item.json.average_Sitzungsdauer }} | {{ $('Summarize Data1').item.json.average_Sitzungsdauer }} | Percentage change |\n| Total purchases | {{ $('Summarize Data').item.json['sum_Käufe'] }} | {{ $('Summarize Data1').item.json['sum_Käufe'] }} | Percentage change |\n| Average revenue/purchase | {{ $('Summarize Data').item.json.average_Revenue_pro_Kauf }} | {{ $('Summarize Data1').item.json.average_Revenue_pro_Kauf }} | Percentage change |\n| Total revenue | {{ $('Summarize Data').item.json.sum_Revenue }} | {{ $('Summarize Data1').item.json.sum_Revenue }} | Percentage change |\n\nFormat for numbers:\n- Dot (.) for numbers in thousands (e.g. 4,000)\n- Comma (,) for decimal numbers (e.g. 3.4)\n- Conversion of average session duration in minutes instead of seconds\n- Average turnover/purchase and total turnover in €\n\nPlease write a short summary of the analyzed data above the table (in a maximum of 3 sentences!)\n\nPlease format to a sleek and modern HTML format so that the result can be sent as HTML mail!\n\nStructure of the e-mail:\n\n“Hello! Here is the Weekly Report: Google Analytics of the last 7 days!\n[Summary]\n[Table]”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2340,
        -460
      ],
      "id": "",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2380,
        -240
      ],
      "id": "5ae36445-1f77-48bd-83d0-e6a4855d4366",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account 5"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Analytics Letzte 7 Tage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Analytics Letzte 7 Tage": {
      "main": [
        [
          {
            "node": "Assign data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Analytics: Past 7 days of the previous year": {
      "main": [
        [
          {
            "node": "Assign data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Data": {
      "main": [
        [
          {
            "node": "Calculation same period previous year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Data1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculation same period previous year": {
      "main": [
        [
          {
            "node": "Google Analytics: Past 7 days of the previous year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign data": {
      "main": [
        [
          {
            "node": "Summarize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign data1": {
      "main": [
        [
          {
            "node": "Summarize Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  }
}
